<h1 mat-dialog-title>VM Options</h1>

<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Number of vCPUs: {{ this.form.get("vCpu").value }}</label
    ><br />
    <mat-slider
            color="primary"
            formControlName="vCpu"
            min="1"
            max="4"
            step="1"
            [thumbLabel]="true"
            (valueChange)='compareWithCurrentValue($event, "vCpu")'
    >
    </mat-slider>

    <label>RAM size: {{ this.form.get("ram").value }}GB</label><br />
    <mat-slider
            color="primary"
            formControlName="ram"
            max="8"
            min="1"
            step="1"
            [thumbLabel]="true"
            (valueChange)='compareWithCurrentValue($event, "ram")'
    >
    </mat-slider>

    <label>Disk space: {{ this.form.get('disk').value }}GB</label><br />
    <mat-slider
            color="primary"
            formControlName="disk"
            max="10"
            min="1"
            step="1"
            [thumbLabel]="true"
            (valueChange)='compareWithCurrentValue($event, "disk")'
    >
    </mat-slider>
    <div mat-dialog-actions style="justify-content: center">
      <button mat-button color="warn" mat-dialog-close>Close</button>
      <button mat-button color="primary" [disabled]="form.invalid">Set options</button>
    </div>

  </form>
</div>