<div class="container">
    <!-- Assignments -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!-- Assignment Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Assignment NAME Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Assignment path Column -->
        <ng-container matColumnDef="path">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Path</th>
            <td mat-cell *matCellDef="let element"> {{element.path}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: colsToDisplay;"></tr>
    </table>
</div>
