<div class="container">
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" *ngFor="let vm of dataSource.data">
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    VM configuration:
                    <ul>
                        <li>
                            <span class="badge">vCPU:</span> {{vm.vCpu}} in use
                        </li>
                        <li>
                            <span class="badge">RAM:</span> {{vm.ram}}GB
                        </li>
                        <li>
                            <span class="badge">Disk:</span> {{vm.diskStorage}}GB
                        </li>
                    </ul>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-raised-button color="primary" (click)="connectToVm(vm.id)">CONNECT</button>
                    <button mat-raised-button color="warn" (click)="killVm(vm.id)">KILL</button>
                    <button mat-icon-button (click)="openDialog(vm.id)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
