<h1 mat-dialog-title>Create a new VM</h1>

<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
              matInput
              placeholder="VM Name"
              type="text"
              formControlName="name"
              required
      />
      <mat-error>Cannot be empty</mat-error>
    </mat-form-field>

    <label>CPUs:</label>
    <mat-slider
            color="primary"
            formControlName="vCpu"
            min="1"
            max="4"
            step="1"
            thumbLabel="true"
            (valueChange)="compareWithCurrentValue($event, 'vCpu')"
    ></mat-slider>

    <label>RAM (GB):</label>
    <mat-slider
            color="primary"
            formControlName="ram"
            min="1"
            max="8"
            step="1"
            thumbLabel="true"
            (valueChange)="compareWithCurrentValue($event, 'ram')"
    ></mat-slider>

    <label>Disk (GB):</label>
    <mat-slider
            color="primary"
            formControlName="disk"
            min="1"
            max="20"
            step="1"
            thumbLabel="true"
            (valueChange)="compareWithCurrentValue($event, 'disk')"
    ></mat-slider>

    <label>
      <mat-checkbox
              color="primary"
              formControlName="active"
              (change)="checkActivation()"
      >
        Activate new vm?
      </mat-checkbox>
    </label>

    <div mat-dialog-actions align="end">
      <button mat-raised-button color="primary" [disabled]="form.invalid">Create</button>
      <button mat-button color="warn" mat-dialog-close>Back</button>
    </div>
  </form>
</div>

