<h1 mat-dialog-title>Create a new VM</h1>

<div mat-dialog-content>
    <mat-form-field hintLabel="Max 40 characters" appearance="fill">
        <mat-label>VM name</mat-label>
        <input matInput [(ngModel)]="vmName" maxlength="40" placeholder="Ex. VM1">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Choose team</mat-label>
        <mat-select [(value)]="team">
            <mat-option *ngFor="let t of data.teams" [value]="t">
                {{ t }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>VM path</mat-label>
        <input matInput [(ngModel)]="vmPath" placeholder="examples/vms">
    </mat-form-field>
    <br>


    <label>Number of vCPUs: {{vCpu}}</label><br/>
    <mat-slider
            class="example-margin"
            [max]="4"
            [min]="1"
            [step]="1"
            [thumbLabel]="true"
            [tickInterval]="getSliderTickInterval()"
            [(ngModel)]="vCpu">
    </mat-slider>

    <label>RAM size: {{ram}}GB</label><br/>
    <mat-slider
            class="example-margin"
            [max]="8"
            [min]="0.5"
            [step]="0.5"
            [thumbLabel]="true"
            [tickInterval]="getSliderTickInterval()"
            [(ngModel)]="ram">
    </mat-slider>

    <label>Disk space: {{disk}}GB</label><br/>
    <mat-slider
            class="example-margin"
            [max]="10"
            [min]="2"
            [step]="0.5"
            [thumbLabel]="true"
            [tickInterval]="getSliderTickInterval()"
            [(ngModel)]="disk">
    </mat-slider>
</div>

<div mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="dialogRef.close()">Back</button>
    <button mat-button color="primary" [disabled]="!enabled()" (click)="onNoClick()">Create VM</button>
</div>

