<!-- First toolbar with menu icon and app name -->
<mat-toolbar color="primary" class="header">
  <button mat-icon-button aria-label="Menu icon" [disabled]="inModal" (click)="sidebar.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button [disabled]="inModal" [routerLink]="['/home']"><h2>VirtualLabs</h2></a>

  <span class="example-fill-remaining-space"></span>
  <span *ngIf="currentUser">Welcome back, {{ currentUser.id }}</span>
  <div *ngIf="!currentUser; else elseBlock">
    <button mat-button routerLink="/home" [disabled]="inModal" [queryParams]="{ doLogin: true }">Login</button>
    <button mat-button routerLink="/home" [disabled]="inModal" [queryParams]="{ doRegister: true }">Register</button>
  </div>
  <ng-template #elseBlock>
    <button mat-button (click)="logout()" *ngIf="currentUser">Logout</button>
  </ng-template>
</mat-toolbar>

<!-- Second toolbar with current selected course name -->
<mat-toolbar class="subheader">
  Course: {{ selectedCourseName || '❓' }}
</mat-toolbar>

<!-- Application views area -->
<mat-sidenav-container [autosize]="true">
  <!-- Left sidenav to choose current view course -->
  <mat-sidenav
    #sidebar
    class="navbar"
    mode="side"
    opened="true"
    position="start"
  >
    <div class="container">
      <mat-nav-list>
        <h3 matSubheader>Your available courses &nbsp;</h3>
        <mat-divider></mat-divider>
        <mat-list-item
          *ngFor="let course of courseList | async"
          [routerLink]="[
            currentUser.roles[0].toLowerCase().replace('role_', '') +
              '/course/' +
              course.acronym
          ]"
        >
          {{ course.name }}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <!-- Current view content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
