<h1 mat-dialog-title>Edit Team VMs options</h1>

<div mat-dialog-content>
    <form [formGroup]="form">
        <label>Team max number of instances - currently used: {{this.data.currentMaxTotalInstances}}</label><br/>
        <mat-slider
                color="primary"
                formControlName="maxTotalInstances"
                [thumbLabel]="true"
                (valueChange)='compareWithCurrentValue($event, "maxTotalInstances")'
                min="1"
                max="10"
                step="1"
        >
        </mat-slider>

        <label>Team max number of active instances - currently used: {{this.data.currentMaxActiveInstances}}</label><br/>
        <mat-slider
                color="primary"
                formControlName="maxActiveInstances"
                [thumbLabel]="true"
                (valueChange)='compareWithCurrentValue($event, "maxActiveInstances")'
                min="1"
                max="10"
                step="1"
        >
        </mat-slider>

        <label>Max number of vCPUs: {{this.form.get('maxVCpu').value}} - currently used: {{ this.data.currentMaxVCpu}}</label><br />
        <mat-slider
                color="primary"
                formControlName="maxVCpu"
                max="10"
                min="1"
                step="1"
                [thumbLabel]="true"
                [tickInterval]="getSliderTickInterval()"
                (valueChange)='compareWithCurrentValue($event, "maxVCpu")'
        >
        </mat-slider>

        <label>RAM size: {{ this.form.get('maxRam').value }}GB - currently used: {{ this.data.currentMaxRam }}GB</label><br />
        <mat-slider
                color="primary"
                formControlName="maxRam"
                max="20"
                min="1"
                step="1"
                [thumbLabel]="true"
                [tickInterval]="getSliderTickInterval()"
                (valueChange)='compareWithCurrentValue($event, "maxRam")'
        >
        </mat-slider>

        <label>Disk space: {{ this.form.get('maxDiskStorage').value }}GB - currently used: {{ this.data.currentMaxDiskStorage}}GB</label><br />
        <mat-slider
                color="primary"
                formControlName="maxDiskStorage"
                max="50"
                min="1"
                step="1"
                [thumbLabel]="true"
                [tickInterval]="getSliderTickInterval()"
                (valueChange)='compareWithCurrentValue($event, "maxDiskStorage")'
        >
        </mat-slider>
    </form>
</div>

<div mat-dialog-actions style="justify-content: center">
    <button mat-button color="warn" [disabled]="form.invalid" (click)="dialogRef.close()">Close</button>
    <button mat-button color="primary" (click)="editTeamSpec()">Edit</button>
</div>
