<h1 mat-dialog-title>Edit Course</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <label>Team Min Size:</label><br />
    <mat-slider
      formControlName="teamMinSize"
      [thumbLabel]="true"
      (valueChange)="adaptMin($event)"
      min="1"
      max="10"
      step="1"
    ></mat-slider>

    <label>Team Max Size:</label>
    <mat-slider
      formControlName="teamMaxSize"
      [thumbLabel]="true"
      (valueChange)="adaptMax($event)"
      min="1"
      max="10"
      step="1"
    ></mat-slider>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle
        [checked]="checked"
        [disabled]="checked"
        (click)="courseStatusChanged(true)"
        >Enable</mat-button-toggle
      >
      <mat-button-toggle
        [checked]="!checked"
        [disabled]="!checked"
        (click)="courseStatusChanged(false)"
        >Disable</mat-button-toggle
      >
    </mat-button-toggle-group>
    <h3>Professors:</h3>
    <mat-list style="margin-top: -20px">
      <mat-list-item *ngFor="let professor of professors | async">
        {{ displayFn(professor) }}
        <button
          mat-button
          color="warn"
          *ngIf="professor.id !== currentProfessorId"
          (click)="removeProfessor(professor)"
        >
          Remove
        </button>
      </mat-list-item>
    </mat-list>
    <mat-form-field>
      <mat-label>Add Professor</mat-label>
      <input
        matInput
        type="search"
        placeholder="Add Professor"
        aria-label="Number"
        value=""
        [formControl]="addProfessorControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredProfessors | async"
          [value]="option"
        >
          {{ displayFn(option) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-button color="primary" (click)="addProfessor()">Add</button>
  </form>
</div>

<div mat-dialog-actions style="justify-content: center">
  <button mat-button color="warn" (click)="dialogRef.close()">Close</button>
  <button mat-button color="accent" (click)="deleteCourse()">
    Delete Course
  </button>
  <button mat-button color="primary" (click)="editCourse()">Edit</button>
</div>
