<h1 mat-dialog-title>Add an owner to the VM</h1>

<div mat-dialog-content>

    <ul *ngIf="members.length > 0; else solo">
      <li *ngFor="let student of members">
        <button mat-button [color]="selectColor(student.id)"
                (click)="dialogRef.close(student.id)">{{student.surname + " " + student.name}}</button>
      </li>
    </ul>
    <ng-template #solo>
        <p>You are the only member of the Team</p>
    </ng-template>

</div>

<div mat-dialog-actions style="justify-content: center">
    <button mat-button color="warn" (click)="dialogRef.close()">Close</button>
</div>
